extends html

snippet php
<?php ${1} ?>
endsnippet

snippet "php"
<?php ${1} ?>
endsnippet

snippet "php
<?php ${1} ?>
endsnippet

snippet class="php
class="<?php ${1} ?>
endsnippet

snippet du
<?php var_dump( ${VISUAL}${1} ); ?>
endsnippet

snippet pdu
<?php echo '<pre>'; var_dump( ${VISUAL}${1} ); echo '</pre>'; ?>
endsnippet

snippet acf
<?php the_field('${1}'); ?>
endsnippet

snippet /* "docblock"
/**
 * ${1}
 */
endsnippet
