[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "bundle/sneak"]
	path = bundle/sneak
	url = https://github.com/justinmk/vim-sneak.git
  ignore = dirty
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
  ignore = dirty
[submodule "bundle/html5"]
	path = bundle/html5
	url = https://github.com/othree/html5.vim.git
  ignore = dirty
[submodule "bundle/phpcomplete"]
	path = bundle/phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim.git
  ignore = dirty
[submodule "bundle/rooter"]
	path = bundle/rooter
	url = https://github.com/airblade/vim-rooter.git
  ignore = dirty
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/ervandew/ag.git
  ignore = dirty
[submodule "syntastic"]
  ignore = dirty
	path = syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/bookmarks"]
	path = bundle/bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
  ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
  ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
  ignore = dirty
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
  ignore = dirty
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
  ignore = dirty
[submodule "bundle/misc"]
	path = bundle/misc
	url = https://github.com/xolox/vim-misc.git
  ignore = dirty
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
  ignore = dirty
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
  ignore = dirty
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
  ignore = dirty
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
  ignore = dirty
[submodule "bundle/vinegar"]
	path = bundle/vinegar
	url = https://github.com/tpope/vim-vinegar.git
  ignore = dirty
[submodule "bundle/obsession"]
	path = bundle/obsession
	url = https://github.com/tpope/vim-obsession.git
  ignore = dirty
[submodule "bundle/xml-vim"]
	path = bundle/xml-vim
	url = https://github.com/othree/xml.vim.git
  ignore = dirty
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
  ignore = dirty
[submodule "bundle/php-html"]
	path = bundle/php-html
	url = https://github.com/captbaritone/better-indent-support-for-php-with-html
  ignore = dirty
[submodule "bundle/vimpasta"]
	path = bundle/vimpasta
	url = https://github.com/sickill/vim-pasta.git
  ignore = dirty
[submodule "bundle/vim-indentLine"]
	path = bundle/vim-indentLine
	url = https://github.com/Yggdroot/indentLine
  ignore = dirty
[submodule "bundle/base16"]
	path = bundle/base16
	url = https://github.com/chriskempson/base16-vim.git
  ignore = dirty
