set sneak
set surround
set commentary
set multiple-cursors
set NERDTree
set incsearch
set ignorecase
set smartcase

let mapleader = ","

" Switch tabs
nnoremap <leader>l gt
nnoremap <leader>h gT

" Acejump
set easymotion
let g:EasyMotion_re_anywhere = 1

" 'Buffer' style
map <C-b> :action RecentChangedFiles<CR>

" File structure
map - :NERDTreeFind<CR>

" Use ctrl-[hjkl] to select the active split
map <C-k> <C-W>k
map <C-h> <C-W>h
map <C-j> <C-W>j
map <C-l> <C-W>l

" Bookmarks
map mm :action ToggleBookmark<CR>
map mn :action GotoNextBookmark<CR>
map mp :action GotoPreviousBookmark<CR>

" Refactoring
map <leader>r :action RenameElement<CR>
map <leader>u :action ShowUsages<CR>

" Debugging
map <C-r> :action Run<CR>
map <C-d> :action Debug<CR>
map <C-c> :action Stop<CR>

" Navigation
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>

nnoremap % :action EditorMatchBrace<CR>

" History
xnoremap <leader>h :action Vcs.ShowHistoryForBlock<CR>

