set sneak
set surround
set commentary
set multiple-cursors
set NERDTree
set incsearch
set ignorecase
set smartcase
set textobj-indent
set relativenumber
set ideajoin
set NERDTree
set easymotion

let mapleader = ","

" Switch tabs
nnoremap <leader>l gt
nnoremap <leader>h gT

" Acejump
" map <leader><leader>s :action AceAction<CR>

" 'Buffer' style
map <C-b> :action RecentChangedFiles<CR>

" File structure
map - :NERDTreeFind<CR>

" Use ctrl-[hjkl] to select the active split
map <C-k> <C-W>k
map <C-h> <C-W>h
map <C-j> <C-W>j
map <C-l> <C-W>l

" Bookmarks
map mm :action ToggleBookmark<CR>
map mn :action GotoNextBookmark<CR>
map mp :action GotoPreviousBookmark<CR>

" Refactoring
map <leader>r :action RenameElement<CR>
map <leader>u :action ShowUsages<CR>

" Debugging
map <C-r> :action Run<CR>
map <leader>c :action ContextRun<CR>
map <C-d> :action Debug<CR>
map <C-c> :action Stop<CR>

" Run
map <leader><leader>r :action RunAnything<CR>

" Navigation
map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)
nnoremap <leader>b :action JumpToLastWindow<CR>
" Jump to next/previous error, show error description
" https://stackoverflow.com/questions/13346245/keyboard-shortcut-to-display-error-in-intellij
map <leader>e <Action>(ShowErrorDescription)

" nnoremap <C-x> <C-o> <Action>copilot.requestCompletions

nnoremap % :action EditorMatchBrace<CR>

" History
xnoremap <leader><leader>h :action Vcs.ShowHistoryForBlock<CR>

" Use the system clipboard
set clipboard+=unnamed

" Copilot
imap <C-c> <Action>(copilot.requestCompletions)

nmap <C-w>\| <Action>(MaximizeEditorInSplit)
; even though it's the same command map it for muscle memory
nmap <C-w>= <Action>(MaximizeEditorInSplit)

" Pane resizing
nmap <C-w><Down> <Action>(StretchSplitToBottom)
nmap <C-w><Left> <Action>(StretchSplitToLeft)
nmap <C-w><Right> <Action>(StretchSplitToRight)
nmap <C-w><Up> <Action>(StretchSplitToTop)
nmap gi <Action>(GotoImplementation)

nmap <C-w>e :action org.martica.equality.Equalize<CR>
